aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
alembic==1.16.4
aniso8601==10.0.1
annotated-types==0.7.0
anyio==4.9.0
apiron==5.1.0
async-timeout==5.0.1
attrs==25.3.0
bcrypt==4.3.0
beren==0.7.0
blinker==1.9.0
cachetools==5.5.2
caldav==2.0.1
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
configparser==7.2.0
contourpy==1.2.1
cryptography==45.0.5
cycler==0.12.1
dateparser==1.2.2
defusedxml==0.7.1
distlib==0.3.9
distro==1.9.0
dnspython==2.7.0
ecdsa==0.19.1
email_validator==2.2.0
exceptiongroup==1.3.0
fastapi==0.116.1
filelock==3.17.0
Flask==3.1.0
flask-cors==6.0.1
Flask-HTTPAuth==4.8.0
Flask-RESTful==0.3.10
Flask-WTF==1.2.2
fonttools==4.53.1
frozenlist==1.6.0
Genshi==0.7.9
gnuhealth-client==4.4.0
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.177.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
greenlet==3.2.3
grpcio==1.74.0
grpcio-status==1.71.2
h11==0.16.0
httpcore==1.0.9
httplib2==0.22.0
httptools==0.6.4
httpx==0.25.2
icalendar==6.3.1
idna==3.10
itsdangerous==2.2.0
jeepney==0.9.0
Jinja2==3.1.5
jiter==0.10.0
kiwisolver==1.4.5
livekit==1.0.8
livekit-api==1.0.2
livekit-protocol==1.0.3
lxml==6.0.0
Mako==1.3.10
MarkupSafe==2.1.5
matplotlib==3.10.3
multidict==6.4.4
numpy==2.2.6
openai==1.97.1
packaging==24.1
pandas==2.3.1
passlib==1.7.4
pendulum==3.1.0
pillow==11.3.0
platformdirs==4.3.6
polib==1.2.0
progressbar==2.2
propcache==0.3.1
proto-plus==1.26.1
protobuf==5.29.5
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycountry==20.7.3
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.11.7
pydantic_core==2.33.2
pydicom==2.4.4
pyparsing==3.2.3
pypng==0.20220715.0
python-barcode==0.15.1
python-binance==1.0.29
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-jose==3.5.0
python-magic==0.4.27
python-multipart==0.0.20
python-sql==1.6.0
python-stdnum==2.1
pytz==2025.2
PyWebDAV3-GNUHealth==0.13.0
PyYAML==6.0.2
qrcode==8.2
recurring-ical-events==2.2.3
regex==2024.11.6
relatorio==0.11.1
requests==2.32.3
rsa==4.9.1
simpleeval==1.0.3
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.41
starlette==0.47.2
ta==0.11.0
time-machine==2.14.2
tomli==2.2.1
tqdm==4.67.1
tryton==6.0.0
trytond==6.0.28
types-protobuf==6.30.2.20250516
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2024.1
tzlocal==5.2
unoconv==0.9.0
uritemplate==4.2.0
urllib3==2.4.0
uvicorn==0.35.0
uvloop==0.21.0
virtualenv==20.29.1
vobject==0.9.9
watchfiles==1.1.0
websockets==12.0
Werkzeug==1.0.1
wrapt==1.17.2
WTForms==3.2.1
x-wr-timezone==0.0.7
yarl==1.20.0
firebase-admin==7.1.0
